@import '/Hud/Globals.scss';

NameTagPanel {
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.nametag {
    font-size: 64px;
    color: #FFF;
    font-family: McLetters;
}

.statuslabel,.rolelabel {
    font-size:48px;
}